<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <h1>You Have Serious Issues</h2>
    <img src="https://ateachingparent.files.wordpress.com/2015/07/help-me-help-you.gif"/>
      <br>
      <h2>-=HERE ARE YOUR CURRENT ISSUES=-</h2>
      <ul class="issues">
          <% issues.each do |issue| %>
              <li> 
                  <a href="<%= issue[:url] %>">"<%= issue[:title] %>"</a>
                  <p>Issue status: <%= issue[:state] %>-</p>
                  <% if issue[:state] == "closed" %>
                    <form action="/issue/reopen/<%= issue[:number] %>" method="post">
                      <input type="submit" value="Reopen Issue">
                  <% elsif issue[:state] == "open" %>
                    <form action="/issue/close/<%= issue[:number] %>" method="post">
                      <input type="submit" value="Close Issue">
                  <% end %>
                      <br>
                      <br>
                  </form>
              </li>
          <% end %>
      </ul>
  </body>